<!--templates/account/login.html-->

{% extends "base.html" %}

{% load static %}
{% load socialaccount %}

{% block content %}



<div class="form-modal">

  <div id="landing-logo" class="logo">
    <div id="landing-logo" class="green-semicircle"></div>
    <div id="landing-logo" class="orange-semicircle"></div>
    <div id="landing-logo" class="slant top-slant"></div>
    <!-- top slant creates gap beween orange and green semicircle -->
    <div id="landing-logo" class="slant bottom-slant"></div>
    <!-- bottom slant has same function, it should really be exactly the same shape as top-slant, just aligned as a gap at the bottom.-->
    <div id="landing-logo" class="orange-almond almond"></div>
    <div id="landing-logo" class="green-almond almond"></div>
  </div>

  <h1 class="text-center gy-15"><span class="coach-text color-secondary-main"> Log </span> <span
      class="matrix-text color-primary-main"> in </span></h1>
  <h3 class="text-center mx-4"> Enter your details to log in </h3>
  <hr>

  <div id="login-form">
    <!--LOG IN form-->
    <form class="login" method="post" action="{% url 'custom_login' %}">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Enter username" required/>
      <input type="password" name="password" placeholder="Enter password" required/>
      <button id="signInBtn" class="btn-success" type="submit">Sign In</button>
    </form>
  </div>
</div>

{% endblock %}