core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
creds.json
coachmatrix/settings.py

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
