/* static/css/animations.css */
/* Keyframe Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotatefadeIn {
    from {
        opacity: 0;
        transform: rotate(40deg);
    }

    to {
        opacity: 1;
        transform: rotate(0deg);
    }
    
}

@keyframes fadeInColor { /* Full color as per class color-secondary-main or color-primary-main */
    0% { color:  inherit; }
  }

/********** Login.html Interactions ***********/
.coach-text, .matrix-text {
    animation: fadeInColor 3s ease 3s backwards !important;
}

.form-modal {
    position: unset !important;
    margin: auto;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.logo {
    opacity: 0; /* Initial state */
    animation: rotatefadeIn 2s ease forwards;
    animation-delay: 1s;
}

.landing-logo .almond {
    opacity: 0; /* Initial state */
    animation: fadeIn 5s ease forwards;
    animation-delay: 2s;
}

#myVideo {
    opacity: 0; /* Initial opacity */
    animation: fadeIn 5s ease forwards;
    animation-delay: 3s;
}
