/* static/css/master.css */

/* 
    This is the Master stylesheet for the entire website.
    It imports all the necessary CSS modules for the components
    as well as the foundational styles such as colors and typefaces.
*/

/* Import foundational styles */
@import url('colors.css');
@import url('typefaces.css');

/* Import component-specific styles from the components directory */
@import url('components/answercard.css');
@import url('components/ask_question.css');
/* @import url('components/bg-logo.css'); */
@import url('components/login.css');
@import url('components/navbar.css');
@import url('components/question_detail.css');
@import url('components/votingcard.css');


/* General styling for the entire website, ideally needs to be placed in a specific stylesheet */

#text {
    display: none;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Creates a 5-column layout */
    grid-gap: 10px;
    padding: 10px;
}

.color-tile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}