/*------Navbar logo-------*/


  
a.navbar-brand.navbar-logo {
    color: grey !important;
 }

/* Define logo color variables */:root {
 	--primary-color: #009693;
 	--secondary-color: #F46B17;
 	--navselector: #f2c2a5;
 	--circle-size-navbar: 42px;
 	--hollow-size-navbar: 37px;
 	--slant-width-navbar: 12px;
 	--slant-height-navbar: 12px;
 	--almond-size-navbar: 16px;
 }
/* General styling for the logo container */
.navbar-logo-logo {
	margin-left: 0rem;
    margin-right: 12px;
    position: relative;
    width: var(--circle-size-navbar); /* Logo width */
    height: var(--circle-size-navbar); /* Logo height */
    background-color: grey; /* Assuming a white background */
    border-radius: 50%; /* Making the container circular */
/*     overflow: hidden; /* Ensures semicircles don't exceed the circle's boundary */
  transform: rotate(-3deg);
}

/* Styling for the green semicircle */
.navbar-logo-green-semicircle {
    position: absolute;
    width: 21px; /* Half of the logo width */
    height: var(--circle-size-navbar); /* Full height of the logo */
    background-color: var(--primary-color);
    border-top-right-radius: 200px; /* Making it a semicircle */
    border-bottom-right-radius: 200px; /* Making it a semicircle */
    right: 0; /* Align to the right */
}

/* Styling for the orange semicircle */
.navbar-logo-orange-semicircle {
    position: absolute;
    width: 21px; /* Half of the logo width */
    height: var(--circle-size-navbar); /* Full height of the logo */
    background-color: var(--secondary-color);
    border-top-left-radius: 200px; /* Making it a semicircle */
    border-bottom-left-radius: 200px; /* Making it a semicircle */
    left: 0; /* Align to the left */
}

/* Hollow circle in the center */
.navbar-logo-logo::after {
    content: '';
    position: absolute;
    width: var(--hollow-size-navbar, 100px); /* Default size is 100px, but you can customize it */
    height: var(--hollow-size-navbar, 100px); /* Default size is 100px, but you can customize it */
    background-color: #FFF; /* White color for the hollow circle */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hollow circle in the center */
.navbar-logo-logo::before {
    content: '';
    position: absolute;
    width: var(--hollow-size-navbar); /* Customizable size of the hollow circle */
    height: var(--hollow-size-navbar); /* Customizable size of the hollow circle */
background-color: #FFF; /* White color for the hollow circle */
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 8; /* Ensure it's above the slants */
}

/* Additional slant styles */
.navbar-logo-slant {
    position: absolute;
    background-color: #FFF; /* White color for the slant */
    border-radius: 0%;
    width: var(---navbar, 131px); /* Customizable width */
    height: var(--slant-height-navbar, 50px); /* Customizable height */
    z-index: 4; /* Above the s-navbaremicircles, below the hollow circle */
}


.navbar-logo-top-slant {
  margin: -12px 0 auto;
  top: 21%;
bottom: auto;
left: 64%;
 width: 3px;
transform: translate(-3%, 0) rotate(52deg); /* Adjust rotation angle as needed */
transform-origin: 0 0;
  z-index: 10;
}

.navbar-logo-bottom-slant {
bottom: -13%;
left: 57%;
 width: 3px;
transform: translate(0%, 0) rotate(52deg); /* Adjust rotation angle as needed */
transform-origin: 0 0;
}

.navbar-logo-almond {
    z-index: 50;
}

.navbar-logo-green-almond {
    position: absolute;
    width: var(--almond-size-navbar);
    height: var(--almond-size-navbar);
    background-color: var(--primary-color);
    border-radius: 138% 0% 130% 0%;
    transform: rotate(-19deg);
    top: 9%;
    left: 30%;
    z-index: 10;
}

.navbar-logo-orange-almond {
    position: absolute;
    width: var(--almond-size-navbar);
    height: var(--almond-size-navbar);
    background-color: var(--secondary-color);
    border-radius: 0% 96% 0% 95%;
    transform: rotate(71deg);
    bottom: 9%;
    left: 33%;

}


/*------Navbar-------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: unset;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: unset;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: unset;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: var(--navselector);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}