@font-face {
    font-family: 'YesevaOne';
    src: url('../media/YesevaOne-Regular.ttf') format('truetype');
}

/*Glacial indifference*/
@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Italic.otf') format('opentype');
    font-style: italic;
}

html,
a,
button {
    font-family: 'GlacialIndifference', sans-serif;
}

h1 {
    font-family: 'YesevaOne', cursive;
    font-size: 3rem;
    font-weight: 400;
    color: #445261;
}

h2 {
    font-family: 'GlacialIndifference', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #4A4A4F;
}

h3 {
    font-family: 'GlacialIndifference', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #4A4A4F;
}

p {
    font-family: 'GlacialIndifference', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #4A4A4F;
}

a {
    text-decoration: unset;
    color: #4A4A4F;
}

a .readmore {
    color: #4A4A4F;
}

body {
    background-color: #F9FAFC;
}

.footer-link {
    color: white !important;
}

footer a {
    color: white !important;
}

.brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}


:root {
    /* Primary Color Variations */
    --primary-color-lightest: #4dd0e1;
    /* Lightest shade, closer to 'primary-color-dark' */
    --primary-color-light: #26c6da;
    /* Light shade, closer to 'primary-color-dark' */
    --primary-color-medium: #00acc1;
    /* Medium shade, closer to 'primary-color-dark' */
    --primary-color-dark: #009693;
    /* Unchanged, original dark shade */
    --primary-color-darkest: #00897b;
    /* Darkest shade, closer to 'primary-color-dark' */

    /* Secondary Color Variations */
    --secondary-color-lightest: #ffccbc;
    /* Lightest shade, closer to 'secondary-color-dark' */
    --secondary-color-light: #ffab91;
    /* Light shade, closer to 'secondary-color-dark' */
    --secondary-color-medium: #ff8a65;
    /* Medium shade, closer to 'secondary-color-dark' */
    --secondary-color-dark: #f46b17;
    /* Unchanged, original dark shade */
    --secondary-color-darkest: #e64a19;
    /* Darkest shade, closer to 'secondary-color-dark' */

    /* Monochrome Color Variations */
    --mono-lightest: #cfd8dc;
    /* Lightest shade, closer to 'mono-dark' */
    --mono-light: #b0bec5;
    /* Light shade, closer to 'mono-dark' */
    --mono-medium: #90a4ae;
    /* Medium shade, closer to 'mono-dark' */
    --mono-dark: #737373;
    /* Unchanged, original dark shade */
    --mono-darkest: #546e7a;
    /* Darkest shade, closer to 'mono-dark' */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Creates a 5-column layout */
    grid-gap: 10px;
    padding: 10px;
}

.color-tile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Primary color tiles */
.primary-lightest {
    background-color: var(--primary-color-lightest);
}

.primary-light {
    background-color: var(--primary-color-light);
}

.primary-medium {
    background-color: var(--primary-color-medium);
}

.primary-main {
    background-color: var(--primary-color-dark);
}

.primary-darkest {
    background-color: var(--primary-color-darkest);
}

/* Secondary color tiles */
.secondary-lightest {
    background-color: var(--secondary-color-lightest);
}

.secondary-light {
    background-color: var(--secondary-color-light);
}

.secondary-medium {
    background-color: var(--secondary-color-medium);
}

.secondary-main {
    background-color: var(--secondary-color-dark);
}

.secondary-darkest {
    background-color: var(--secondary-color-darkest);
}

/* Monochrome color tiles */
.mono-lightest {
    background-color: var(--mono-lightest);
}

.mono-light {
    background-color: var(--mono-light);
}

.mono-medium {
    background-color: var(--mono-medium);
}

.mono-dark {
    background-color: var(--mono-dark);
}

.mono-darkest {
    background-color: var(--mono-darkest);
}

.dark-bg {
    background-color: var(--mono-darkest);
}

/* Primary color tiles */
.color-primary-lightest {
    color: var(--primary-color-lightest);
}

.color-primary-light {
    color: var(--primary-color-light);
}

.color-primary-medium {
    color: var(--primary-color-medium);
}

.color-primary-main {
    color: var(--primary-color-dark);
}

.color-primary-mainest {
    color: var(--primary-color-darkest);
}

/* Secondary color tiles */
.color-secondary-lightest {
    color: var(--secondary-color-lightest);
}

.color-secondary-light {
    color: var(--secondary-color-light);
}

.color-secondary-medium {
    color: var(--secondary-color-medium);
}

.color-secondary-main {
    color: var(--secondary-color-dark);
}

.color-secondary-mainest {
    color: var(--secondary-color-darkest);
}

/* Monochrome color tiles */
.color-mono-lightest {
    color: var(--mono-lightest);
}

.color-mono-light {
    color: var(--mono-light);
}

.color-mono-medium {
    color: var(--mono-medium);
}

.color-mono-dark {
    color: var(--mono-dark);
}

.color-mono-darkest {
    color: var(--mono-darkest);
}

.dark-bg {
    color: var(--mono-darkest);
}