@font-face {
    font-family: 'YesevaOne';
    src: url('../media/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('../media/GlacialIndifference-Italic.otf') format('opentype');
    font-style: italic;
}

html, body, button, input, select, textarea, a {
    font-family: 'GlacialIndifference', sans-serif;
}

h1 {
    font-family: 'YesevaOne', cursive;
    font-size: 3rem;
    font-weight: 400;
}

h2, h3, p, a, form, #pause-video {
    font-family: 'GlacialIndifference', sans-serif;
}

.question-list-header {
    font-family: 'YesevaOne', cursive !important;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

.brand {
    font-size: 1.4rem;
    font-weight: 700;
}


#pause-video {
    font-style: italic;
    font-family: 'GlacialIndifference', sans-serif;
}