/* static/css/answercard.css */

.answer-section-header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-count {
    font-weight: bold;
    font-size: 30px;
}

.sort-options {
    border-radius: 3px;
    border-width: 1.5px;
    cursor: pointer;
    font-weight: bold;
}

.icon {
    margin-left: 15px;
    cursor: pointer;
}

.sticky-top {
    margin-top: 10px;
    z-index: 1020;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.question-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-meta h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.question-tags {
    padding: 0.5rem 0;
}

.question-tags span {
    display: inline-block;
    border-radius: 15px;
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    margin-right: 1rem;
    cursor: pointer;
}

.question-content {
    padding: 1rem 0;
}

.voting-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 25px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.number {
    font-size: 26px;
    margin: 4px auto;
}

.body-and-gutter {
    display: flex;
    justify-content: space-between;
}

.question-body {
    flex-grow: 1;
    margin: 30px auto auto 38px;
}

.icon-column {
    flex-shrink: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-action {
    margin-bottom: 10px;
    cursor: pointer;
}

.question-container {
    position: relative;
    padding-left: 50px;
}

.icon-column {
    position: sticky;
    top: 43px;
    left: 0;
}

.icon-action {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

.user-icon {
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.user-asked {
    font-weight: bold;
}

.user-date {
    font-style: italic;
}

.user-info .fa-user-circle {
    font-size: 1.5rem;
}

.user-info hr {
    flex-grow: 1;
    margin: 0 1rem;
}

.answer-body {
    margin: 30px auto auto 30px;
}

.total-answer-votes {
    margin: auto;
}
