/* static/css/login.css */

* {
    box-sizing: border-box;
}

.form-modal {
    width: 450px;
    height: auto;
    margin-top: 4em;
    left: 50%;
    border-radius: 20px;
}

.form-modal {
    position: unset !important;
    margin: auto;
}

.video-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
}

.video-container {
    position: absolute;
    overflow: hidden;
}

#myVideo {
    position: fixed;
    bottom: 0;
    min-width: 110vh;
    height: 110vh;
    z-index: -6;
    transform: translate(-1%, 0%);
}

.content {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

#pause-video {
    width: 139px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 30;
    position: sticky;
    margin-top: 6rem;
}

.logo {
    top: 20px;
    margin: 30px auto 30px;
    position: relative;
    width: 200px;
    height: 200px !important;
    border-radius: 50%;
    transform: rotate(-3deg);
}

#landing-logo .green-semicircle {
    position: absolute;
    width: 100px;
    height: 200px;
    right: 0;
}

#landing-logo .orange-semicircle {
    position: absolute;
    width: 100px;
    height: 200px;
    left: 0;
}

.logo::after,
.logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing-logo .slant {
    position: absolute;
}

#landing-logo .top-slant,
#landing-logo .bottom-slant {
    position: absolute;
}

#landing-logo .almond {
    z-index: 50;
}

#landing-logo .green-almond,
#landing-logo .orange-almond {
    position: absolute;
}

.form-modal button,
.form-modal .btn {
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    z-index: 2;
}

.form-toggle {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
}

.form-toggle button,
#signInBtn {
    width: 50%;
    float: left;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 300px) {
    .form-toggle button {
        width: 100%;
    }
}

.form-modal form {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#login-form,
#signup-form {
    position: relative;
    width: 100%;
    height: auto;
}

#login-form button,
#signup-form button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.6em;
}

.form-modal input {
    position: relative;
    width: 100%;
    padding: 1.2em 1.7em 1.2em 1.7em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 20px;
}

@media only screen and (max-width:500px) {
    .form-modal {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    .form-modal i {
        display: none !important;
    }
}