{% extends 'base.html'%}

{% block content %}

<div class="error .d-flex h-100 align-items-center">
    <div class="card text-center align-middle align-center">
      <div class="error-modal px-10">
        <h1>400 Error</h1>
        <p>Bad Request - The request could not be understood by the server due to malformed syntax. Please check the URL and try again.</p>
        <a href="javascript:history.back()" class="back-button"><button>Go Back</button></a>
        <a href="{% url 'home' %}" class="home"><button>Home</button></a>
      </div>
    </div>
  </div>

{% endblock %}