{% extends 'base.html'%}

{% block content %}

<div class="error .d-flex h-100 align-items-center">
    <div class="card text-center align-middle align-center">
      <div class="error-modal px-10">
        <h1>500 error</h1>
        <p>Server error - Coach Matrix is currently unavailable to handle this request.</p>
        <hr>
        <a href="javascript:history.back()"><button class="btn btn-secondary">Go Back</button></a>
        <a href="{% url 'home' %}"><button class="btn btn-primary ">Home</button></a>
        <a href="mailto:issues@coachmatrix.org"><button class="btn btn-secondary">Contact Support</button></a>
      </div>
    </div>
  </div>

{% endblock %}