<!--templates/about.html-->

{% extends 'base.html'%}

{% block content %}

<div class="about d-flex flex-column h-100 align-items-center">
    <div class="card text-center align-middle align-center">
      <div class="about-modal px-10">
        <h1>About</h1>
        <p>Hi there, welcome to my site.</p>
        <p>
          This is a project I built to help educators develop their professional skills. It's a place where teachers can ask questions and learn from each other. I built it using Django, a Python web framework, and Bootstrap, a front-end framework. I hope you like it!
        </p>
        <p><i>
          --Laurie Crean, Junior Full-Stack Developer
        </i></p>

        <a href="https://github.com/lmcrean/Coach-Matrix" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-github">
          <i class="fa fa-github"></i> View my respository on GitHub
        </button></a>
        <hr>
        <a href="javascript:history.back()"><button class="btn btn-secondary">Go Back</button></a>
        <a href="{% url 'home' %}"><button class="btn btn-primary ">Home</button></a>
      </div>
    </div>
  </div>

{% endblock %}