{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head%}
<!-- django-quill-editor Media -->
{% include 'django_quill/media.html' %}`
{% endblock %}

{% block content %}
<div class="container">
    {% if form.instance.pk %}
    <!-- If the form instance has a primary key, we are updating an existing question -->
    <h2>Update Your Question</h2>
    <form method="post" action="{% url 'question_update' slug=form.instance.slug %}">
    {% else %}
    <!-- If there is no primary key, we are creating a new question -->
    <h2>Ask a Question</h2>
    <form method="post" action="{% url 'ask_question' %}">
    {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}