<!-- templates/ask_question.html -->
<!--
    This is the form to ask a question. 
    
    It contains the ability to create a new question or update an existing question:
    1. if the user arrives at the templates without a question instance, the form to create a new question is used
    2. if the user arrives at the templates with a question instance, the form to update the question is used

    ***************
    Within the form, the user can 
    - select a category for the question
    - enter a subject line
    - enter the details of the question in a simple text editor
    - enter tags for the question.

    In terms of validation:
    - the user must select a category
    - the user must enter a subject line that doesn't already exist
    - the user must enter details for the question
    - the user must enter at least one tag for the question and no more than 5 tags

    Crispy forms are used to render the form fields.
-->


{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- django-quill-editor Media -->
{% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}

<div class="bg-overlay"></div> <!-- New overlay element -->

<main class="flex-shrink-0 main-bg">

    <!-- If there is no primary key, we are creating a new question -->

    <div class="container-question my-5">
        <h1 class="text-center">Ask a Question</h1>
        <hr>
        <form id="standards-form" method="post" action="{% url 'ask_question' %}">
            {% csrf_token %}
            
            <h2 class="text-center">Subject line</h2>
            {{ form.subject | as_crispy_field }}

            
            <br>
            <h2 class="text-center">Details</h2>
            {{ form.content | as_crispy_field }} <!-- rendering as expected-->
            <br>
            <h2 class="text-center">Tags</h2>
            <div class="tag-input">
                <div class="input">
                    <div>
                        <i class="fa fa-tags"></i>
                            <input type="text" class="form-control px-5" name="tags" id="id_tags"/>
                    </div>
                </div>
                <div class="tag-list mb-4"></div>
            </div>
            <button type="submit" class="btn btn-primary " id="question-submit">Submit</button>
        </form>
        
    </div>

</main>

{% endblock %}