<!--bookmarks.html-->
<!-- 
    This template is used to display a list of bookmarked questions. It is similar to the filtered_questions.html template, but it is simplified. The user's bookmarked questions are displayed in a list. If there are no bookmarked questions, a message is displayed.
-->

{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container-fluid">
    <div class="col-12 mt-3 left">
        <h1>Bookmarked Questions</h1>
        <br>
        <!-- Bookmarked Questions List -->
        {% for question in bookmarked_question_list %}

        <div class="question-card mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'question_detail' question.slug  %}" class="question-link">
                        <h5 class="card-title">{{ question.subject }}</h5>
                    </a>
                    <p class="card-text">{{ question.excerpt.html|safe }}</p>
                    <div class="text-muted">{{ question.formatted_date }}</div>
                </div>
                <form method="POST" action="{% url 'delete_bookmark' question.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary btn-sm" type="submit">
                      <i class="fas fa-bookmark delete-bookmark"></i> Unbookmark
                    </button>
                </form>
            </div>
        </div>
        
        {% empty %}
            <p>No bookmarked questions found.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
