<!--templates/index.html-->

{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}



<div class="video-container">

    <video id="myVideo" autoplay loop  muted >
      <source src="https://res.cloudinary.com/dh1xovduy/video/upload/v1706345572/yoytb7nmec4amfrlb0mm.mp4" type="video/mp4">
    </video>
  
    <div class="video-overlay"></div> <!-- New overlay element -->
  </div>
  
  <div class="form-modal">
  
    <div id="landing-logo" class="logo">
      <div id="landing-logo" class="green-semicircle"></div>
      <div id="landing-logo" class="orange-semicircle"></div>
      <div id="landing-logo" class="slant top-slant"></div> <!-- top slant creates gap beween orange and green semicircle -->
      <div id="landing-logo" class="slant bottom-slant"></div> <!-- bottom slant has same function, it should really be exactly the same shape as top-slant, just aligned as a gap at the bottom.-->
      <div id="landing-logo" class="orange-almond almond"></div>
      <div id="landing-logo" class="green-almond almond"></div>
    </div>
  
    <h1 class="text-center gy-15"><span class="coach-text color-secondary-main"> Coach </span> <span class="matrix-text color-primary-main"> Matrix </span></h1>
    <h3 class="text-center mx-4"> open-source Professional Development for Educators </h3>
    <br>
    <div class="form-toggle">
      <button id="login-toggle" onclick="toggleLogin()" class="active">log in</button>
      <button id="signup-toggle" onclick="toggleSignup()" class=" ">sign up</button>
    </div>
  
    <div id="login-form">
      <form>
        <a href="{% provider_login_url 'google' %}?next=/questions/"><button type="button" class="btn -box-sd-effect" > <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign in with google</button></a>
        <!-- <button type="button" class="btn -box-sd-effect" > <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign in with linkedin</button>
        <a href="{% provider_login_url 'microsoft' %}?next=/questions/"></a><button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign in with microsoft</button></a> --></form>
        <hr>
        <p class="text-center">or</p>
        <hr>
        <form class="login" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Enter username" required />
          <input type="password" name="password" placeholder="Enter password" required />
          <input type="hidden" name="next" value="/questions/" />
          <button id="signInBtn" class="btn-success" type="submit">Sign In</button>
        </form>
        </div>
    <div id="signup-form">
      <form class="login" method="post" action="{% url 'account_signup' %}">

        <input type="email" placeholder="Enter your email" />
        <input type="text" placeholder="Choose username" />
        <input type="password" placeholder="Create password" />
          {% csrf_token %}
          <!-- Your input fields for email, username, and password -->
          <button type="submit" class="btn signup">Create Account</button>
        </form>
        <p>Clicking <strong>create account</strong> means that you are agree to our <a href="https://generator.lorem-ipsum.info/terms-and-conditions" target="_blank" rel="noopener noreferrer"> terms of services</a>.</p>
        <hr />
        <a href="{% provider_login_url 'google' %}?next=/questions/"><button type="button" class="btn -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign up with google</button></a>
        </a>
        <!-- <button type="button" class="btn -box-sd-effect"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign up with linkedin</button>
        <a href="{% provider_login_url 'google' %}?next=/questions/"><button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign up with microsoft</button></a> -->
  
      </form>
    </div>
  
  </div>
  
  <button id="pause-video" class="btn-secondary" onclick="pauseVideo()">pause video</button>


{%endblock%}