{% extends "base.html" %}
{% load socialaccount %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>designed for teachers to colloborate</h1>
                <h4>Sign in to gain access to our community platform</h4>
                <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>
                <a href="{% provider_login_url 'microsoft' %}?next=/">Login With Microsoft</a>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}