{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container profile-page mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="profile-header text-center mb-5">
                <h1>My Profile</h1>
            </div>
            <hr>

            <!--profile info with edit icons fa <i class="fa fa-pencil"></i>-->
            <div class="profile-info text-center mt-3">
                <h3>{{ user.username }} </h3> 
                <p>{{ user.email }} </p> 
                <p>Member since: {{ user.date_joined | date:"F d, Y" }} </p>   
            <hr>
            <h2>Update Profile here:</h2>
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                {% if is_oauth %}
                <p>You cannot change your email and password because you have signed up through {{ provider | capfirst }}.</p>
                {% else %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
