<!--templates/my_profile.html-->

{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container profile-page mt-5">
    <div class="row"><div class="col-12 col-md-6 mx-auto">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="profile-header text-center mb-5">
            <h1>My Profile</h1>
            </div>
            <hr>
            <div class="profile-info text-center mt-3">
                <h3>{{ user.username }} </h3> 
                <p>{{ user.email }} </p> 
                <p>Member since: {{ user.date_joined | date:"F d, Y" }} </p>   
            <hr>
            <h2>Update Profile here:</h2>
            <form method="post" action="{% url 'profile_update' %}">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <hr>
            <h2>Change Password here:</h2>
            <!-- Button to trigger the password change modal -->
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                Change Password
            </button>
            
            <!-- Password Change Modal -->
            <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            {{ password_form | crispy }}
                            <input type="submit" class="btn btn-primary" name="password_change" value="Change Password">
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
