<!--templates/question_detail.html-->
<!-- 
  This is the page for a single question. It displays the question and its answers. It also contains the form to leave an answer. The question and its answers are passed to the template from the view.  The user can also upvote or downvote the questions. If the user is the author of the question, they can also edit or delete the question. 
-->

{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load question_tags %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  {% for field in form %}
      {% if field.errors %}
          <p>{{ field.errors }}</p>
      {% endif %}
  {% endfor %}
</div>
{% endif %}

<div class="card container rounded p-4">
  <div class="row">
    <div class="col">
      <div>
        <div class="question-meta">
          <h1>{{ question.subject }}</h1>
        </div>
        <div class="question-info d-flex justify-content-left">
          <span class="spacer mx-1"></span>
          {% with question.answers.count as answer_count %}
          <span class="question-answers"> {{ answer_count }} Answers</span>
          {% endwith %}
        </div>
        <div class="question-tags">
          {% for tag in question.tags.all %}
          {% if tag.slug %}
          <a href="{% url 'filter_by_tag' tag.slug %}" class="btn btn-outline-success tags">{{ tag.name }}</a>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
    <div class="col-auto">

      <!--voting component-->
      <div class="voting-component text-center">
        <form class="d-inline" action="{% url 'question_upvote' question.slug %}" method="POST">
          {% csrf_token %}
          {% if request.user.is_authenticated %}
          <button type="submit" class="circle green" name="blogquestion_id" value="{{question.slug}}">
            <div class="triangle upvote"></div>
          </button>
          {% else %}
          <button type="button" class="circle green" onclick="alert('You must sign in to vote.');">
            <div class="triangle upvote"></div>
          </button>
          {% endif %}
        </form>
        <div class="number">{{ total_votes }}</div>
        <form class="d-inline" action="{% url 'question_downvote' question.slug %}" method="POST">
          {% csrf_token %}
          {% if request.user.is_authenticated %}
          <button type="submit" class="circle yellow" name="blogquestion_id" value="{{question.slug}}">
            <div class="triangle downvote"></div>
          </button>
          {% else %}
          <button type="button" class="circle yellow" onclick="alert('You must sign in to vote.');">
            <div class="triangle downvote"></div>
          </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <div class="question-actions d-flex justify-content-end mt-2">
    {% if user.is_authenticated %}
    {% if question.author == user %}
    <!-- Edit Question Button -->
    <a href="{% url 'question_update' slug=question.slug %}" class="btn btn-outline-primary btn-sm">
      <i class="fas fa-pencil-alt"></i> Edit
    </a>

    <!-- Delete Question Button -->
    <button type="button" class="btn btn-outline-danger btn-sm mx-2" data-bs-toggle="modal"
      data-bs-target="#deleteConfirmModal">
      <i class="fas fa-trash"></i> Delete
    </button>
    {% endif %}

    <!--bookmark button-->
    {% if question|is_bookmarked_by:user %}
    <form method="POST" action="{% url 'delete_bookmark' question.id %}">
      {% csrf_token %}
      <button class="btn btn-outline-secondary btn-sm" type="submit">
        <i class="fas fa-bookmark delete-bookmark"></i> Unbookmark
      </button>
    </form>
    {% else %}
    <form method="POST" action="{% url 'create_bookmark' question_id=question.id %}">
      {% csrf_token %}
      <button class="btn btn-outline-secondary btn-sm" type="submit">
        <i class="far fa-bookmark"></i> Bookmark
      </button>
    </form>
    {% endif %}

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this question?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form method="post" action="{% url 'question_delete' question.slug %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>


  <div class="body-and-gutter">
    <div class="question-body">
      <p>{{ question.content.html | safe }}</p>
    </div>
  </div>


  <div class="container">
    <div class="user-info">
      <i class="fa fa-user-circle user-icon"></i>
      <span class="user-asked">Asked by {{ question.author }} on {{ question.created_on }}</span>
      <hr>

    </div>
  </div>
</div>

<!-----------------------answers header----------------------->
{% with answers.count as total_answers %}
<div class="answer-section-header d-flex justify-content-center ">
  <h1 class="answer-count text-center mr-2 mx-3">{{ total_answers }} Answers</h1>

  {% if request.GET.sort_by == 'most_votes' %}
  <a href="?sort_by=newest" class="btn btn-secondary mx-3"><i class="fa-solid fa-medal"></i> Most Votes</a>
  {% elif request.GET.sort_by == 'newest' %}
  <a href="?sort_by=oldest" class="btn btn-secondary mx-3"><i class="fa-solid fa-sort-up"></i> Newest First</a>
  {% elif request.GET.sort_by == 'oldest' %}
  <a href="?sort_by=most_votes" class="btn btn-secondary mx-3"><i class="fa-solid fa-sort-down"></i> Oldest First</a>
  {% else %} <!-- Default view, no filter pressed -->
  <a href="?sort_by=newest" class="btn btn-secondary mx-3"><i class="fa-solid fa-medal"></i> Most Votes</a>
  {% endif %}
</div>
{% endwith %}

<!--
    ANSWERS: this section is the answer cards.
  -->
{% for answer in answers %}
<div class="container card d-flex flex-column mb-4 mt-3 rounded p-3">
  <div class="body-and-gutter">
    <div class="icon-column">
      <!-- this column shouold be in a gutter/margin on the right of the main body of text, and just underneath the voting buttons-->
      <!--voting component-->
      <form method="post" action="{% url 'answer_upvote' answer.id %}" class="voting-component text-center">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <button class="circle green" type="submit">
          <div class="triangle upvote"></div>
        </button>
        {% else %}
        <button class="circle green" onclick="alert('You must sign in to vote.');">
          <div class="triangle upvote"></div>
        </button>
        {% endif %}
      </form>
      <div class="total-answer-votes number text-center justify-content-center">{{ answer.total_votes }}</div>
      <form method="post" action="{% url 'answer_downvote' answer.id %}" class="voting-component text-center">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <button class="circle yellow" type="submit">
          <div class="triangle downvote"></div>
        </button>
        {% else %}
        <button class="circle yellow" onclick="alert('You must sign in to vote.');">
          <div class="triangle downvote"></div>
        </button>
        {% endif %}
      </form>
    </div>
    <div class="answer-body">
      {{ answer.body.html|safe }}
    </div>
  </div>
  <div class="answer-buttons d-flex flex-row justify-content-end">
    {% if user.is_authenticated and user == answer.author %}
    <a href="{% url 'answer_update' answer.pk %}">
      <button type="button" class="btn btn-primary mx-2">
        <i class="fas fa-pencil-alt"></i>
        Edit Answer
      </button>
    </a>
    <a href="{% url 'answer_delete' answer.pk %}">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#deleteAnswerModal-{{ answer.id }}">
        <i class="fas fa-trash"></i>
        Delete Answer
      </button>
    </a>
    {% endif %}
  </div>
  <div class="user-info">
    <hr>
    <i class="fa fa-user-circle user-icon"></i>
    <span class="user-asked">Answered by {{ answer.author }} on {{ answer.created_on }}</span>
  </div>
</div>

<div class="container">




  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteAnswerModal-{{ answer.id }}" tabindex="-1"
    aria-labelledby="deleteAnswerModalLabel-{{ answer.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAnswerModalLabel-{{ answer.id }}">Are you sure you want to delete this
            answer?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post" action="{% url 'answer_delete' answer.pk %}">
            {% csrf_token %}
            <input type="hidden" name="answer_id" value="{{ answer.id }}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

{% endfor %}

<div class="container mb-4 mt-3 ">
  <div class="card sticky-top">
    {% if posted %}
    <div class="alert alert-success" role="alert">
      Your answer is awaiting approval
    </div>
    {% else %}
    {% endif %}

    {% if user.is_authenticated %}
    <h3>Leave an answer:</h3>
    <p>Answering as: {{ user.username }}</p>
    <form method="post" style="margin-top: 1.3em;">
      {% csrf_token %}
      {{ answer_form.media }}
      {{ answer_form | crispy }}
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
    {% else %}
    <p>You must be logged in to leave an answer.</p>
    {% endif %}
  </div>
</div>
</div>
</div>
{% endblock %}