<!-- templates/update_question.html -->
<!--
    This is the form to update a question. 
    
    It contains the ability to update an existing question. The user should have arrived at the templates with a question instance.

    ***************
    Within the form, the user can 
    - select a category for the question
    - enter a subject line
    - enter the details of the question in a simple text editor
    - enter tags for the question.

    In terms of validation:
    - the user must select a category
    - the user must enter a subject line that doesn't already exist
    - the user must enter details for the question
    - the user must enter at least one tag for the question and no more than 5 tags

    Crispy forms are used to render the form fields.
-->


{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- django-quill-editor Media -->
{% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}

<button id="random-bg-logo-position"> random design variation </button>
<div class="bg-overlay"></div> <!-- New overlay element -->

<main class="flex-shrink-0 main-bg">

    <!-- If there is no primary key, we are creating a new question -->

    <div class="container-question my-5">
        <h1>Update Your Question</h1>
        <hr>
        <h2 class="text-center">Category</h2>
        <label>
            Select the most Relevant <a href="google.com">Teaching Standard</a> to your question:
        </label>
        <form id="standards-form" method="post" action="{% url 'question_update' slug=question.slug %}">
            {% csrf_token %}
            <div class="row">
                <!-- High Expectations -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="1" id="high-expectations" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366074/nrunwhqwfcbphfddo5cy.svg" class="card-img-top" alt="High Expectations">
                            <div class="card-body ">
                                <p class="card-text">High Expectations</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Promoting Progress -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="2" id="promoting-progress" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366075/qesqupa7ocsjjhaby877.svg" class="card-img-top" alt="Promoting Progress">
                            <div class="card-body">
                                <p class="card-text">Promoting Progress</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Subject Knowledge -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="3" id="subject-knowledge" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366075/ekkdgtfct1uglcjzyyff.svg" class="card-img-top" alt="Subject Knowledge">
                            <div class="card-body">
                                <p class="card-text">Subject Knowledge</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Planning -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="4" id="planning" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366073/phqii1p6jnleayfaicpz.svg" class="card-img-top" alt="Planning">
                            <div class="card-body">
                                <p class="card-text">Planning</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Differentiation -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="5" id="differentiation" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366073/adj3mwvye1kl5pmb7zdx.svg" class="card-img-top" alt="Differentiation">
                            <div class="card-body">
                                <p class="card-text">Differentiation</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Assessment -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="6" id="assessment" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366073/wbrndgomy1tav4zsqq5t.svg" class="card-img-top" alt="Assessment">
                            <div class="card-body">
                                <p class="card-text">Assessment</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Behaviour Management -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="7" id="behaviour-management" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366073/w4h6xxqceqc6adpj0g30.svg" class="card-img-top" alt="Behaviour Management">
                            <div class="card-body">
                                <p class="card-text">Behaviour Management</p>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- Professionalism -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 text-center">
                    <label class="standard-option">
                        <input type="radio" name="standard" value="8" id="professionalism" class="d-none">
                        <div class="card">
                            <img src="https://res.cloudinary.com/dh1xovduy/image/upload/v1706366073/dbjsudz9kads8ynjywg9.svg" class="card-img-top" alt="Professionalism">
                            <div class="card-body">
                                <p class="card-text">Professionalism</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            
            <h2 class="text-center">Subject line</h2>
            {{ form.subject | as_crispy_field }} <!-- rendering as expected-->

            
            <br>
            <h2 class="text-center">Details</h2>
            {{ form.content | as_crispy_field }} <!-- rendering as expected-->
            <br>
            <h2 class="text-center">Tags</h2>
            <div class="tag-input">
                <div class="input">
                    <div>
                        <i class="fa fa-tags"></i>
                        <input type="text" class="form-control px-5" name="tags" id="id_tags id_tags_update" value="{{ question.tags.all|join:' ' }}" />
                    </div>
                </div>
                <div class="tag-list mb-4"></div>
            </div>
            <button type="submit" class="btn btn-primary " id="question-submit">Submit</button>
        </form>
        
    </div>

</main>

{% endblock %}