<!-- templates/update_question.html -->
<!--
    This is the form to update a question. 
    
    It contains the ability to update an existing question. The user should have arrived at the templates with a question instance.

    ***************
    Within the form, the user can 
    - select a category for the question
    - enter a subject line
    - enter the details of the question in a simple text editor
    - enter tags for the question.

    In terms of validation:
    - the user must select a category
    - the user must enter a subject line that doesn't already exist
    - the user must enter details for the question
    - the user must enter at least one tag for the question and no more than 5 tags

    Crispy forms are used to render the form fields.
-->


{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- django-quill-editor Media -->
{% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <p>{{ field.errors|striptags }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div class="bg-overlay"></div> <!-- New overlay element -->

<main class="flex-shrink-0 main-bg">

    <!-- If there is no primary key, we are creating a new question -->

    <div class="container-question my-5">
        <h1>Update Your Question</h1>
        <hr>
        <h2 class="text-center">Category</h2>
        <form id="standards-form" method="post" action="{% url 'question_update' slug=question.slug %}">
            {% csrf_token %}
            
            <h2 class="text-center">Subject line</h2>
            {{ form.subject | as_crispy_field }} <!-- rendering as expected-->

            
            <br>
            <h2 class="text-center">Details</h2>
            {{ form.content | as_crispy_field }} <!-- rendering as expected-->
            <br>
            <h2 class="text-center">Tags</h2>
            <div class="tag-input">
                <div class="input">
                    <div>
                        <i class="fa fa-tags"></i>
                            <input type="text" class="form-control px-5" name="tags" id="id_tags id_tags_update" value="{{ question.tags.all|join:' ' }}" />
                    </div>
                </div>
                <div class="tag-list mb-4"></div>
            </div>
            <button type="submit" class="btn btn-primary " id="question-submit">Submit</button>
        </form>
        
    </div>

</main>

{% endblock %}